version: '3.8'
services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: orders_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  eureka-server:
    build: ../eureka-server
    ports:
      - "8761:8761"
    depends_on:
      - postgres

  api-gateway:
    build: ../api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - eureka-server

  order-service:
    build: ../order-service
    ports:
      - "9001:9001"
    depends_on:
      - postgres
      - eureka-server

  partner-service:
    build: ../partner-service
    ports:
      - "9002:9002"
    depends_on:
      - postgres
      - eureka-server

  tracking-service:
    build: ../tracking-service
    ports:
      - "9003:9003"
    depends_on:
      - redis
      - eureka-server

  notification-service:
    build: ../notification-service
    ports:
      - "9004:9004"
    depends_on:
      - eureka-server

volumes:
  pgdata:
