server:
  port: 9002
spring:
  application:
    name: partner-service
  datasource:
    url: jdbc:postgresql://postgres:5432/orders_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
