server:
  port: 9001
spring:
  application:
    name: order-service
  datasource:
    url: jdbc:postgresql://postgres:5432/orders_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
